body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #333;
    width:200px;

}

.menu-item {
    /*float: left;*/
    display: block;
    text-decoration: none;
    padding:8px 16px;
}

.menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu-link:hover {
    background-color: #111;
}
