body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editor{
  border: 2PX solid black;
}

.layout-right{
  width: 100%;
  font-size: large;
  text-align: left;
  margin: 20PX;
}


.layout{
  display: flex;
  flex-flow: row 
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width:200px;
  
}

.menu-item {
   
    display: block;
    text-decoration: none;
    padding:8px 16px;
    border-top: 1px solid black;
}

.menu-link {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}


.menu-link:hover {
    background-color: #111;
}

.menu-section{
  background-color: black;
  color: darkslategray;
}

.draftImg{
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-size: 100%;
  cursor: pointer;
}

.emojiList{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 80%;
}

.form{
  margin-top: 10px;
}

pre code {
  display: block;
  background: #002451;
  color: white;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.3;
  font-size: 1.8rem;
  /*border: 10px solid #ccc;*/
  overflow: scroll;
  padding: 10px;
}

.hljs-comment, .hljs-quote{
  color: lightgreen;
}

.hljs-string, .hljs-attribute{
  color: #ffeead;
}
.text-found{
  background-color: lightgreen;
  border: 1px solid red;
  border-radius: 10px;
}
.stockItems{
   padding:0;
    border-bottom:1px solid lightcyan;
    word-wrap: break-word;

	position: absolute;

	min-width: 220px;
	max-width: 440px;
	background: lightgray;
	max-height: 50vh;
	overflow-x: auto;

	border-radius: 2px;
	box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
	cursor: pointer;

	opacity: 1;
	z-index: 69;
	display: flex;
	flex-direction: column;

	box-sizing: content-box;
}


.stockItems >	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
.stockItems >	li {
		list-style-type: none;
		clear: both;
		cursor: pointer;
}

.stockDetail:hover{
  background-color: lightblue;
}

.stockItem {
  background-color: lightblue;
}

.stockItemHover {
   padding:0;
    border-bottom:1px solid lightcyan;
    word-wrap: break-word;

	position: absolute;

	min-width: 220px;
	max-width: 440px;
	background: lightgray;
	max-height: 50vh;
	overflow-x: auto;

	border-radius: 2px;
	box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
	cursor: pointer;

	opacity: 1;
	z-index: 69;
	display: flex;
	flex-direction: column;

	box-sizing: content-box;
}

.selection-form{
  border: 1px solid grey;
  
  padding: 5px;
}

.fantasy-font{
  font-family: fantasy;
  text-align: center;
  
}
 

	